<ion-view view-title="{{ 'albums-title' | translate }}">
  <ion-content>
    <ion-refresher pulling-text="{{ 'pull-to-refresh' | translate }}" on-refresh="refresh()">
    </ion-refresher>
      <!--
      <div class="list card">

        <a href="#" class="item item-icon-left" ng-repeat="a in albums">
          <i class="icon ion-images"></i>
          {{a.AlbumName}}
        </a>

      </div>
      -->

        <div class="album-cover" style="background-image: url({{ getCoverImage(a) }})" ng-repeat="a in albums" ng-click="select(a)">
          <div class="album-overlay">
            <div class="album-name">{{a.name}}</div>
            <div class="album-venue">{{a.venueName}}</div>

            <div class="album-countdown">{{ a.timeRemaining || "00:00:00" }}</div>
            <div class="album-distance">{{ a.distanceInMiles || "0" }} {{ 'albums-distance' | translate }}</div>
          </div>
        </div>

  </ion-content>
</ion-view>
