<form name="albumForm">
<ion-view view-title="New Album">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-disabled="!albumForm.$valid" ng-click="save()">
      Save
    </button>
  </ion-nav-buttons>
  <ion-content>
      <div class="albumForm list">
        <label class="item item-divider">Album Details</label>
        <label class="item item-input">
          <span class="input-label">
            <i class="icon ion-image placeholder-icon"></i>
            Name *
          </span>
          <input type="text" ng-model="data.AlbumName" placeholder="" ng-required="true">
        </label>
        <label class="item item-input ">
          <span class="input-label">
            <i class="icon ion-locked placeholder-icon"></i>
            Password *
          </span>
          <input type="text" ng-model="data.Password" placeholder="" ng-required="true">
        </label>
        <label class="item item-input ">
          <span class="input-label">
            <i class="icon ion-calendar placeholder-icon"></i>
            Date *
          </span>
          <input type="date" ng-model="data.ContributeFromDate" placeholder="" ng-required="true">
        </label>
        <label class="item item-input ">
          <span class="input-label">
            <i class="icon ion-clock placeholder-icon"></i>
            Time *
          </span>
          <input type="time" ng-model="data.ContributeFromTime" placeholder="" ng-required="true">
        </label>
        <label class="item item-divider">Venue Details</label>
        <label class="item item-input ">
          <span class="input-label">
            <i class="icon ion-flag placeholder-icon"></i>
            Name *
          </span>
          <input type="text" ng-model="data.VenueName" placeholder="" ng-required="true">
        </label>
        <label class="item item-input ">
          <span class="input-label">
            <i class="icon ion-map placeholder-icon"></i>
            Address *
          </span>
          <input type="text" ng-model="data.VenueAddress" placeholder="" ng-required="false">
        </label>
        <label class="item item-divider">WiFi Details</label>
        <label class="item item-input ">
          <span class="input-label">
            <i class="icon ion-wifi placeholder-icon"></i>
            Name
          </span>
          <input type="text" ng-model="data.VenueWifiName" placeholder="">
        </label>
        <label class="item item-input ">
          <span class="input-label">
            <i class="icon ion-locked placeholder-icon"></i>
            Password
          </span>
          <input type="text" ng-model="data.VenuePassword" placeholder="">
        </label>


        <!--
        <button class="button button-positive button-full" ng-click="save()">
          Save
        </button>
        -->
      </div>

  </ion-content>
</ion-view>

</form>
