<ion-view view-title="Albums">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="refresh()">
    </ion-refresher>
      <!--
      <div class="list card">

        <a href="#" class="item item-icon-left" ng-repeat="a in albums">
          <i class="icon ion-images"></i>
          {{a.AlbumName}}
        </a>

      </div>
      -->

        <div class="album-cover" style="background-image: url({{ getCoverImage(a) }})" on-tap="alert(a.AlbumName)" ng-repeat="a in albums" ng-click="select(a)">
          <div class="album-overlay">
            <div class="album-name">{{a.AlbumName}}</div>
            <div class="album-venue">{{a.VenueName}}</div>

            <div class="album-countdown">{{ a.timeRemaining || "00:00:00" }}</div>
            <div class="album-distance">{{a.DistanceInMiles}} miles away</div>
          </div>
        </div>

  </ion-content>
</ion-view>
