<ion-view view-title="Phuse!" hide-nav-bar="true">
  <ion-content>
      <!--
      <button class="button button-block button-light" ng-click="createAlbum()">
        <i class="icon ion-plus-circled"></i>
        Create a new Album
      </button>

      <a class="button button-block button-light" ui-sref="app.albums">
        <i class="icon ion-images"></i>
        Contribute to an Album
      </a>
    -->

      <div class="home-page"></div>
        <div class="list">
          <a class="item item-icon-left" href="#" ng-click="createAlbum()">
            <i class="icon ion-plus-circled"></i>
            {{ "home-new-album" | translate }}
          </a>
          <a class="item item-icon-left" ui-sref="app.albums">
            <i class="icon ion-images"></i>
            {{ "home-contribute" | translate }}
          </a>
        </div>

  </ion-content>
</ion-view>
